* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

button {
    background-color: white;
    color: #16405C;
    padding: 10px;
    border-radius: 10px;
}

a {
    color: #16405C;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #16405C;
    color: white;
}

.container a {
    color: white;
}

.container a:hover {
    color: white;
}

.name {
    font-size: 400%;
}

.headshot-container {
    max-width: 100px;
}

.about, .portfolio {
    color: #16405C;
    width: 90%;
    margin: 0 auto;
}

.headshot {
    width: 100%;
    border: 5px solid #16405C;
    border-radius: 50%;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    width: 45%;
    margin: 15px;
    position: relative;
}

.project:hover .overlay {
    opacity: 1;
  }

.pic-container img {
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #16405C;
}

.text {
    color: white;
    /* font-size: 20px; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.buttons button {
    margin: 0 10px;
    background-color: white;
    color: #16405C;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.button a {
    color: #16405C;
    text-decoration: none;
}




