* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #16405C;
    color: white;
}

.container a {
    color: white;
}

.container a:hover {
    color: white;
}

.name {
    font-size: 400%;
}

.headshot-container {
    max-width: 100px;
}

.about {
    color: #16405C;
    width: 85%;
    margin: 0 auto;
}

.headshot {
    width: 100%;
    border: 5px solid #16405C;
    border-radius: 50%;
}
