* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    width: 100%;
}

button {
    background-color: white;
    color: #16405C;
    padding: 10px;
}

a {
    color: #16405C;
}

h1, h2, h3, h4 {
    text-align: center;
}

.header {
    padding: 50px 0 0 0;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #16405C;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
}

.name {
    font-size: 400%;
}

.headshot-container {
    max-width: 100px;
    margin: 0 15px 15px 15px;
}

.about, .portfolio, .contact, .resume {
    width: 90%;
    margin: 30px auto;
    color: #16405C;
    padding-bottom: 200px;
}

.resume {
    width: 75%;
}

/* .resume p, .resume li {
    font-size: 150%;
} */

.about {
    width: 75%;
}

.about p {
    font-size: 200%;
}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot {
    width: 100%;
    border: 5px solid #16405C;
    border-radius: 50%;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    width: 45%;
    margin: 15px;
    position: relative;
}

.image-label {
    background-color: #16405C;
    opacity: .9;
    color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}

.project:hover .overlay {
    opacity: 1;
  }

.pic-container img {
    max-width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.project-name {
    padding: 10px;
    background-color: #16405C;
    color: white;
    border-radius: 10px 10px 0 0;
}

/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #16405C;
} */

.text {
    color: white;
    /* font-size: 20px; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.buttons button {
    margin: 0 10px;
    background-color: white;
    color: #16405C;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #16405C;
}

.button a {
    color: #16405C;
    text-decoration: none;
}

.buttons a:hover .button {
    border: 2px solid white;
    background-color: #16405C;
    color: white;
}

.contact h1 {
    margin-bottom: 15px;
}

.contact p {
    font-size: 200%;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    margin: 15px;
}

.contact-links button {
    border-radius: 10px;
    border: 2px solid #16405C;
    padding: 20px;
}

.contact-links a:hover .link {
    border: 2px solid white;
    background-color: #16405C;
    color: white;
}

.footer {
    background-color: #16405C;
    color: white;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icon-container {
    width: 50px;
    margin: 0 10px;
}

.icon-container img {
    max-width: 100%;
}

.icon-container:hover {
    transform: scale(1.2);
}



